.navbar-inverse .navbar-brand, .nav-item-right {
    font-family: "Karla","Helvetica Neue",Helvetica,sans-serif !important;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    color: #f2f2f2;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.nav-item-right:hover,
.nav-item-right:active,
.nav-item-right:focus {
    color: #f2f2f2;;
}
